// :root {
//   --brand-red: #D92B50; //#EF476F / D92B50
//   --brand-blue: #4064a0; //#0096C7 / 35578E
//   --white: #fff;
//   --gray: #474752;
  
//   // dark theme
//   --bg-dark: #33333C;
//   --bg-light: #3E3E48;
//   --text-gray: #9EA2A7;
//   --text-gray_l: #d8d8db;

//   // light theme
//   --bg-gray: #f2f5f8;
//   // --brand-blue: #D92B50; //#EF476F
//   // --brand-red: #35578E; //#EF476F

//   --radius: 10px;
//   --shadow: 0px 2px 10px -1px rgb(85 85 85 / 8%),
//   0px 1px 10px 0px rgb(85 85 85 / 6%), 0px 1px 30px 0px rgb(85 85 85 / 3%);
// }

// $brand-red: #D92B50; //#EF476F / D92B50
// $brand-blue: #4064a0; //#0096C7 / 35578E
// $white: #fff;
// $gray: #474752;
  
//   // dark theme
// $bg-dark: #33333C;
// $bg-light: #3E3E48;
// $text-gray: #9EA2A7;
// $text-gray_l: #d8d8db;

//   // light theme
// $bg-gray: #f2f5f8;
  // --brand-blue: #D92B50; //#EF476F
  // --brand-red: #35578E; //#EF476F

$radius: 10px;
$shadow: 0px 2px 10px -1px rgb(85 85 85 / 8%),
  0px 1px 10px 0px rgb(85 85 85 / 6%), 0px 1px 30px 0px rgb(85 85 85 / 3%);



$dark: #0B0E17;
$gray600: #27233E;
$gray700: #4C5C86;
$gray900: #726F9B;
$white: #E7EAFC;
$blueG: linear-gradient(180deg, #375BE3 0%, #0A84FF 100%);
$blueGS: #0A84FF;
$blue700: #1C3AAA;
$blue500: #92A3FF;
$red: #FF153F;
$f-un: 'Unbounded', sans-serif;
$f-nm: 'Neue Machina', sans-serif;
$darkGradient: linear-gradient(180deg, #2A274B 0%, #1D1A32 100%);
$transition: 0.35s;

$lg: 1200px;
$md: 992px;
$sm: 768px;